<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="abwesenheiten" href="/tabs/abwesenheiten">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Abwesenheiten</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="packliste" href="/tabs/packliste">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Packliste</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil" href="/tabs/profil">
      <ion-icon aria-hidden="true" name="person-circle"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
